# Limpieza de datos
Como punto inicial se importan los paquetes necesarios para el procesamiento de los datos

In [1]:
import numpy as np
import pandas as pd

Ahora se crea un data frame usando la funci√≥n read_csv de pandas

In [2]:
df = pd.read_csv('Delitos.csv')
print(df[600:800])

      ID           HORA     FECHA    MES                     DELITO  \
600  601          19:40  23/01/16  ENERO                  EXTORSION
601  602  02:30 A 05:30  24/01/16  ENERO           ROBO DE VEHICULO
602  603           2:30  24/01/16  ENERO           ROBO DE VEHICULO
603  604  02:30 A 03:30  24/01/16  ENERO           ROBO DE VEHICULO
604  605  03:00 A 03:15  24/01/16  ENERO           ROBO DE VEHICULO
605  606           0:00  24/01/16  ENERO           ROBO DE VEHICULO
606  607          12:30  24/01/16  ENERO           ROBO DE VEHICULO
607  608  12:30 A 16:30  24/01/16  ENERO           ROBO DE VEHICULO
608  609  10:45 A 11:15  24/01/16  ENERO           ROBO DE VEHICULO
609  610  11:30 A 11:40  24/01/16  ENERO           ROBO DE VEHICULO
610  611          19:30  24/01/16  ENERO           ROBO DE VEHICULO
611  612  21:30 A 22:00  24/01/16  ENERO           ROBO DE VEHICULO
612  613           7:25  24/01/16  ENERO     ROBO A CUENTA HABIENTE
613  614          15:30  24/01/16  ENERO  ROBO A TRANSPORTE PUBLICO
614  615          20:40  24/01/16  ENERO  ROBO A TRANSPORTE PUBLICO
615  616          10:46  24/01/16  ENERO     ROBO A CASA HABITACION
616  617          18:22  24/01/16  ENERO     ROBO A CASA HABITACION
617  618          21:30  24/01/16  ENERO            ROBO A COMERCIO
618  619           1:00  24/01/16  ENERO        ROBO EN VIA PUBLICA
619  620          20:20  24/01/16  ENERO        ROBO EN VIA PUBLICA
620  621          22:30  24/01/16  ENERO                  EXTORSION
621  622          19:15  25/01/16  ENERO           ROBO DE VEHICULO
622  623  12:50 A 13:00  25/01/16  ENERO           ROBO DE VEHICULO
623  624          20:00  25/01/16  ENERO           ROBO DE VEHICULO
624  625  16:10 A 16:40  25/01/16  ENERO           ROBO DE VEHICULO
625  626          16:15  25/01/16  ENERO           ROBO DE VEHICULO
626  627          20:30  25/01/16  ENERO           ROBO DE VEHICULO
627  628          17:40  25/01/16  ENERO           ROBO DE VEHICULO
628  629          22:50  25/01/16  ENERO           ROBO DE VEHICULO
629  630  13:30 A 16:00  25/01/16  ENERO           ROBO DE VEHICULO
..   ...            ...       ...    ...                        ...
770  771           9:06  30/01/16  ENERO  ROBO A TRANSPORTE PUBLICO
771  772           3:20  30/01/16  ENERO            ROBO A COMERCIO
772  773          13:22  30/01/16  ENERO            ROBO A COMERCIO
773  774           0:40  30/01/16  ENERO        ROBO EN VIA PUBLICA
774  775          20:50  30/01/16  ENERO        ROBO EN VIA PUBLICA
775  776          22:15  30/01/16  ENERO        ROBO EN VIA PUBLICA
776  777          23:00  30/01/16  ENERO        ROBO EN VIA PUBLICA
777  778          16:55  30/01/16  ENERO                  EXTORSION
778  779          14:00  30/01/16  ENERO                  EXTORSION
779  780          12:12  30/01/16  ENERO                  EXTORSION
780  781  00:01 A 07:00  31/01/16  ENERO           ROBO DE VEHICULO
781  782  11:00 A 11:31  31/01/16  ENERO           ROBO DE VEHICULO
782  783          21:14  31/01/16  ENERO           ROBO DE VEHICULO
783  784  07:00 A 07:40  31/01/16  ENERO           ROBO DE VEHICULO
784  785          12:30  31/01/16  ENERO           ROBO DE VEHICULO
785  786          16:00  31/01/16  ENERO           ROBO DE VEHICULO
786  787  17:10 A 18:00  31/01/16  ENERO           ROBO DE VEHICULO
787  788           2:00  31/01/16  ENERO                  HOMICIDIO
788  789          10:16  31/01/16  ENERO  ROBO A TRANSPORTE PUBLICO
789  790          17:30  31/01/16  ENERO                  VIOLACION
790  791          16:01  31/01/16  ENERO     ROBO A CASA HABITACION
791  792          23:18  31/01/16  ENERO     ROBO A CASA HABITACION
792  793           1:15  31/01/16  ENERO            ROBO A COMERCIO
793  794           8:13  31/01/16  ENERO            ROBO A COMERCIO
794  795          18:46  31/01/16  ENERO            ROBO A COMERCIO
795  796          19:05  31/01/16  ENERO            ROBO A COMERCIO
796  797          20:30  31/01/16  ENERO            ROBO A COMERCIO
797  798          21:30  31/01/16  ENERO            ROBO A COMERCIO
798  799           8:35  31/01/16  ENERO        ROBO EN VIA PUBLICA
799  800           9:01  31/01/16  ENERO        ROBO EN VIA PUBLICA

                        CALLE  No.              ENTRE_CALLE_1  \
600       AV. FRANCISCO VILLA  NaN                   VERACRUZ
601                   CALLE 2   81                    4ta AV.
602                   IXTAPAN  NaN                   COATEPEC
603                   PAROTAS   75                    ENCINOS
604           FRANCISCO VILLA  NaN                GUSTAVO BAZ
605                ORIENTE 30  NaN              AV. PANTITLAN
606               AV. CENTRAL  NaN          AV. DE LAS TORRES
607      HACIENDA DE TOMACOCO  NaN       HACIENDA DE LA GAVIA
608             AV. CUAHTEMOC  NaN                    4ta AV.
609       AV. FRANCISCO ZARCO  NaN                    4ta AV.
610                LAGO GUIJA  NaN           LAGUNA DE MAYRAN
611                  MIXCALCO  NaN              AV. PANTITLAN
612             AV. PANTITLAN  NaN                  SAN ANGEL
613                  CALLE 26  NaN           AV. CHIMALHUACAN
614            AV. NEZAHUALCO  NaN                  HORTENCIA
615              PALOMA NEGRA   13             CAMA DE PIEDRA
616                  MACORINA  493      AV. BORDO DE XOCHIACA
617                  CALLE 18  NaN                    7ma AV.
618       AV. VICENTE VILLADA  NaN                  MADRUGADA
619                  TLAXPANA  NaN                   TACUBAYA
620      VALLE DE LOS ANGELES  123             VALLE DE YUKON
621                  CALLE 19   51                      AV. 1
622                LAGO ONEGA  NaN               LAGO MUSTERS
623                  CALLE 12  NaN                     JUAREZ
624                AV. MEXICO  NaN                   COATEPEC
625                  COATEPEC  NaN                   TONATICO
626             AV. PANTITLAN  NaN                 JESUS RICO
627        LAGUNA DE ZEMPOALA  NaN             LAGO CONSTANZA
628                   GIRASOL  NaN                       ROSA
629             BENITO JUAREZ  NaN              NICOLAS BRAVO
..                        ...  ...                        ...
770   BOSQUES DE LAS NACIONES  NaN        BOSQUES DE COLOMBIA
771  AV. VALLE DE LAS ZAPATAS  NaN                   CALLE 18
772             LAGO CONTANZA  NaN           AV. CHIMALHUACAN
773               PONIENTE 13  332                    NORTE 1
774                   CALLE 7  NaN                 ATZAYACATL
775               LAGO CHALCO  NaN           AV. CHIMALHUACAN
776                 SAN ANGEL  NaN      GLORIETA DE PETROLEOS
777                 SAN ANGEL  202       GLORIETA DE BUCARELI
778                     BAMBA  460          CORRIDO DEL NORTE
779     AV. BORDO DE XOCHIACA  NaN           AV. RIVA PALACIO
780                   RIELERA  435          CORRIDO DEL NORTE
781             AV. CUAHTEMOC  NaN                    4ta AV.
782             DOS ARBOLITOS  NaN                  MANANITAS
783                    CAPIRO  315        AV. DR. GUSTAVO BAZ
784                CHAPARRITA  NaN                  MANANITAS
785          AV. CHIMALHUACAN  NaN                   CALLE 18
786             NICOLAS BRAVO  182                     ALDAMA
787           IGANCIO ALLENDE   56                AV. TEXCOCO
788            AV. PERIFERICO  NaN                AV. PIRULES
789               LAGO CHALCO  NaN             AV. AEROPUERTO
790              NINOS HEROES  150                     OAXACA
791       EDIFICIO DE CORREOS  241       GLORIETA DE BUCARELI
792                 MALAGUENA  453      AV. BORDO DE XOCHIACA
793               AV. TEXCOCO  NaN  JOSEFA ORTIZ DE DOMINGUEZ
794   AV. ADOLFO LOPEZ MATEOS  NaN              CIELITO LINDO
795               5A. AVENIDA  NaN                 ALCAICERIA
796                    MONEDA  NaN              AV. PANTITLAN
797             AV. PANTITLAN  NaN                   PLATEROS
798              AV. FLORESTA  NaN              AV. PANTITLAN
799                   CIVISMO   96                  GEOMETRIA

               ENTRE_CALLE_2                         COLONIA  SECTOR  \
600                      NaN           CAMPESTRE GUADALUPANA     1.0
601                     6 AV                ESTADO DE MEXICO     5.0
602                      NaN       METROPOLITANA 1ra SECCION     8.0
603               CALAMBUCOS                        LA PERLA    12.0
604           ALFONSO SIERRA           SAN AGUSTIN ATLAPULCO    14.0
605                      NaN                         REFORMA    15.0
606                      NaN             VERGEL DE GUADALUPE     1.0
607                      NaN                       IMPULSORA     2.0
608                      NaN                ESTADO DE MEXICO     5.0
609                      NaN  TAMAULIPAS SECCION VIRGENCITAS     5.0
610  LAGUNA DE SAN CRISTOBAL                       AGUA AZUL     9.0
611    GLORIETA DE PETROLEOS      AMPLIACION VICENTE VILLADA     9.0
612                   JUAREZ      AMPLIACION VICENTE VILLADA     9.0
613                      NaN                      MARAVILLAS     6.0
614                      NaN    TAMAULIPAS SECCION EL PALMAR    10.0
615                ESCONDIDA                 BENITO JUAREZ I     9.0
616        CORRIDO DEL NORTE               BENITO JUAREZ III    11.0
617                      NaN                          EL SOL     4.0
618                      NaN                BENITO JUAREZ II    10.0
619                      NaN                 VICENTE VILLADA    13.0
620        VALLE DE SAMANZAS     VALLE DE ARAGON 1ra SECCION     1.0
621         AV. CONSTITUCION           JARDINES DE GUADALUPE     1.0
622                      NaN                     CIUDAD LAGO     3.0
623                   OAXACA                JUAREZ PANTITLAN     7.0
624                      NaN                     RAUL ROMERO     7.0
625                      NaN                     ATLACOMULCO     8.0
626                      NaN                          MODELO     8.0
627                      NaN                       AGUA AZUL     9.0
628                      NaN   TAMAULIPAS SECCION LAS FLORES    10.0
629                      NaN                    SANTA MARTHA    13.0
..                       ...                             ...     ...
770                      NaN               BOSQUES DE ARAGON     3.0
771                      NaN           CAMPESTRE GUADALUPANA     1.0
772                      NaN                       AGUA AZUL     9.0
773            AV. PANTITLAN                        LA PERLA    14.0
774                      NaN                  NEZAHUALCOYOTL     6.0
775       LAGUNA DE TERMINOS                       AGUA AZUL     9.0
776                      NaN      AMPLIACION VICENTE VILLADA     9.0
777                      NaN      AMPLIACION VICENTE VILLADA     8.0
778    AV. BORDO DE XOCHIACA               BENITO JUAREZ III    11.0
779                      NaN                          EL SOL     4.0
780            RANCHO GRANDE               BENITO JUAREZ III    11.0
781                      NaN                ESTADO DE MEXICO     5.0
782                      NaN                BENITO JUAREZ II    10.0
783                      NaN                BENITO JUAREZ II    10.0
784                      NaN               BENITO JUAREZ III    11.0
785                      NaN                       ESPERANZA    14.0
786                MATAMOROS                     LOMA BONITA    15.0
787         16 DE SEPTIEMBRE                    SANTA MARTHA    13.0
788                      NaN                  NEZAHUALCOYOTL     6.0
789           AV. PERIFERICO          AMPLIACION CIUDAD LAGO     3.0
790                   PUEBLA                JUAREZ PANTITLAN     7.0
791                      NaN                       EVOLUCION     8.0
792        CORRIDO DEL NORTE               BENITO JUAREZ III    11.0
793                      NaN                     LOMA BONITA    15.0
794                      NaN                 BENITO JUAREZ I    10.0
795                      NaN                   PORFIRIO DIAZ     9.0
796                      NaN                   PORFIRIO DIAZ     8.0
797                      NaN                   PORFIRIO DIAZ     8.0
798                      NaN                         REFORMA    15.0
799            AV. PANTITLAN                      LAS PALMAS     6.0

    CUADRANTE  TURNO          X          Y
600      C016      2 -99.067338  19.487879
601      C054      2 -99.053614  19.425214
602      C081      2 -99.035611  19.400281
603      C125      2 -99.000721  19.388441
604      C142      2 -98.974478  19.383902
605      C153      2 -98.972397  19.372632
606      C018      3 -99.055017  19.473766
607      C024      3 -99.045618  19.478072
608      C051      3 -99.048015  19.424773
609      C053      3 -99.033530  19.420904
610      C091      1 -99.032709  19.408315
611      C097      1 -99.017179  19.395100
612      C097      3 -99.013914  19.393348
613      C063      3 -99.044054  19.418594
614      C105      1 -99.029551  19.415683
615      C093      3 -99.018281  19.403813
616      C111      3 -98.991921  19.413316
617      C044      1 -99.041896  19.429590
618      C104      2 -99.002504  19.409457
619      C134      1 -99.012354  19.382982
620      C011      1 -99.065784  19.492207
621      C016      3 -99.061017  19.479924
622      C034      2 -99.051747  19.457185
623      C071      3 -99.056253  19.407487
624      C074      2 -99.039908  19.402087
625      C081      2 -99.036856  19.400781
626      C081      3 -99.030998  19.400484
627      C091      2 -99.027328  19.406272
628      C101      3 -99.021213  19.421167
629      C133      2 -98.995346  19.377488
..        ...    ...        ...        ...
770      C031      3 -99.051446  19.464571
771      C014      2 -99.058495  19.487194
772      C091      3 -99.025134  19.410576
773      C145      2 -98.987766  19.381175
774      C066      1 -99.055674  19.414534
775      C091      1 -99.027081  19.410348
776      C097      1 -99.012696  19.394861
777      C083      3 -99.014630  19.391189
778      C112      3 -98.988688  19.410746
779      C044      3 -99.037627  19.426641
780      C111      1 -98.994573  19.412253
781      C055      2 -99.047713  19.424526
782      C104      3 -99.007373  19.414408
783      C103      2 -99.002341  19.413364
784      C113      2 -98.993745  19.407803
785      C142      2 -98.981946  19.389757
786      C151      2 -98.985894  19.374292
787      C136      1 -98.996812  19.372381
788      C066      2 -99.056288  19.415387
789      C033      2 -99.038658  19.467682
790      C076      2 -99.052091  19.404407
791      C082      3 -99.025373  19.396179
792      C111      1 -98.994953  19.414229
793      C154      2 -98.992446  19.368199
794      C106      2 -99.021761  19.411741
795      C095      3 -99.031341  19.406300
796      C081      3 -99.032977  19.401420
797      C081      3 -99.032609  19.401264
798      C152      2 -98.980361  19.376537
799      C066      2 -99.051901  19.411157

[200 rows x 15 columns]

Una vez cargados los datos en el data frame es posible acceder a los datos de cada columna usando el nombre correspondiente. Para ver las columnas contenidas en el dataframe basta con usar el atributo columns:

In [3]:
print(df.columns)

Index(['ID', 'HORA', 'FECHA', 'MES', 'DELITO', 'CALLE', 'No.', 'ENTRE_CALLE_1',
       'ENTRE_CALLE_2', 'COLONIA', 'SECTOR', 'CUADRANTE', 'TURNO', 'X', 'Y'],
      dtype='object')

De acuerdo a lo anterior, para imprimir la calle en la que fueron cometidos los primeros 10 delitos se puede utilizar ademas el m√©todo head().

In [4]:
print(df['CALLE'].head(10))

0      VALLE DE MEXICO
1        RANCHO GRANDE
2             LAURELES
3        LAGO GRAN OSO
4        LA CHAPARRITA
5               FAISAN
6      VALLE DE MEXICO
7        AV. PANTITLAN
8            CLAVELERO
9    VALLE DE IRAGUADI
Name: CALLE, dtype: object

De manera similar se puede utilizar el metodo tail() para imprimir los datos al final de la columna:

In [5]:
print(df['No.'].tail(20))

16405           NaN
16406           NaN
16407           NaN
16408           NaN
16409           NaN
16410           NaN
16411           NaN
16412           NaN
16413           NaN
16414           NaN
16415           NaN
16416           NaN
16417           154
16418    MZ.30 LT.8
16419           NaN
16420            48
16421           NaN
16422           NaN
16423           NaN
16424           NaN
Name: No., dtype: object

## Redondear valores

In [6]:
df = df.round({'X': 6, 'Y': 6})

## Rellenar campos vac√≠os

Como puede observarse varios de los registros de la columna "No." no tienen un valor asociado. Una de las labores principales de cualquier proceso de limpieza de datos es asegurarse que los mismos est√©n estandarizados, en consecuencia es necesario eliminar esta anomalia. Para tal fin, cada registro que no tenga un valor en la columna "No." ser√°n llenado con la leyenda "Sin No.". Para realizar esta transformaci√≥n basta con usar el metodo fillna() de una serie. Este m√©todo regresa una copia de la serie donde cada NaN es sustituido por el valor dado.

In [7]:
print(df['No.'].fillna('Sin No.').tail(20))

16405       Sin No.
16406       Sin No.
16407       Sin No.
16408       Sin No.
16409       Sin No.
16410       Sin No.
16411       Sin No.
16412       Sin No.
16413       Sin No.
16414       Sin No.
16415       Sin No.
16416       Sin No.
16417           154
16418    MZ.30 LT.8
16419       Sin No.
16420            48
16421       Sin No.
16422       Sin No.
16423       Sin No.
16424       Sin No.
Name: No., dtype: object

Ya que la columna 'No.' no es la √∫nica columna que presenta esta anomalia, es necesario realizar el proceso anterior para todas las columnas del dataframe.

In [8]:
for column in df.columns:
    df[column] = df[column].fillna('Sin ' + column)

El proceso anterior elimina las anomalias relacionadas con datos faltantes. Sin embargo, existen otros problemas que deben ser solucionados antes de que los datos puedan considerarse estandarizados. Por ejemplo, considere los datos que muestran la hora en la que fue cometido un delito.

In [9]:
print(df['HORA'].head(10))

0    22:30 A 04:00
1             6:40
2            13:30
3    03:00 A 05:00
4            14:00
5             0:05
6             4:00
7             4:58
8            18:13
9            19:40
Name: HORA, dtype: object

## Unificar el formato de las horas

Como se puede observar los datos tienen formatos diferentes. Existen registros que contienen una hora de inicio y una hora de fin. Con el objetivo de tener registro con entradas consistentes los datos de esta columna deben ser divididos. La columna 'HORA_INICIO' tendr√° la hora en la que comenz√≥ el delito, y la columna 'HORA_FIN' tendr√° la hora en la que termin√≥ el delito. Para aquellos registros que solo tengan una hora se tendra que la hora de inicio y la hora de fin ser√° la misma.

In [10]:
df['HORA_INICIO'], df['HORA_FIN'] = df['HORA'].str.split(' A ', 1).str
df['HORA_FIN'] = np.where(pd.isna(df['HORA_FIN']), df['HORA_INICIO'], df['HORA_FIN'])

## Unificar el formato de las fechas

Se modificar√° el formato de las fechas de tal forma que todas ellas sean de la forma dd/mm/aaaa

In [11]:
import datetime as dt
#dfDate = df['FECHA']
#pd.to_datetime(dfDate, infer_datetime_format=True)
#df['FECHA'] = pd.to_datetime(dfDate, format = '%d/%m/%y')

#for row in bad_dates['FECHA'].str.split('-',3):
    #if len(row) is 2:
        #row.append('2017')
        
        #if len(row[0]) is 1:
            #row[0] = '0' + row[0]
            
        #print(row[0] + '/' + row[1] + '/' + row[2])
        
# First remove rows were month is given with a name
df['FECHA'] = df['FECHA'].str.replace('Jul', '07', regex=False)
df['FECHA'] = df['FECHA'].str.replace('ago', '08', regex=False)

# Now unify day, month, year separator
df['FECHA'] = df['FECHA'].str.replace('-', '/', regex=False)

# Add missing year
dates = df['FECHA'].str.extract(r'^((\d{2}|\d{1})/(\d{2}|\d{1})/(\d{4}|\d{2}))', expand=False)
#dates = df['FECHA'].str.extract(r'^((\d{2}|\d{1})/(\d{2}|\d{1})/(\d{4}))', expand=False)

df['FECHA'] = np.where(dates[0].isnull(), df['FECHA'] + '/2017', df['FECHA'])

dates = df['FECHA'].str.extract(r'(/(\d{2}))$', expand=False)
dates2 = df['FECHA'].str.extract(r'^((\d{2}|\d{1})/(\d{2}|\d{1})/)', expand=False)
#print(dates2)
df['FECHA'] = np.where(dates[0].notnull(), dates2[0] + '20' + dates[1], df['FECHA'])
print(df['FECHA'])

0          1/1/2016
1          1/1/2016
2          1/1/2016
3          1/1/2016
4          1/1/2016
5          1/1/2016
6          1/1/2016
7          1/1/2016
8          1/1/2016
9          1/1/2016
10         1/1/2016
11         1/1/2016
12         1/1/2016
13         1/1/2016
14         1/1/2016
15         1/1/2016
16         1/1/2016
17         1/1/2016
18         2/1/2016
19         2/1/2016
20         2/1/2016
21         2/1/2016
22         2/1/2016
23         2/1/2016
24         2/1/2016
25         2/1/2016
26         2/1/2016
27         2/1/2016
28         2/1/2016
29         2/1/2016
            ...
16395    29/09/2017
16396    29/09/2017
16397    29/09/2017
16398    29/09/2017
16399     10/9/2017
16400     11/9/2017
16401     11/9/2017
16402    14/09/2017
16403    13/09/2017
16404    13/09/2017
16405    14/09/2017
16406    14/09/2017
16407    15/09/2017
16408    16/09/2017
16409    17/09/2017
16410    18/09/2017
16411    19/09/2017
16412    21/09/2017
16413    22/09/2017
16414    23/09/2017
16415    26/09/2017
16416    28/09/2017
16417    13/09/2017
16418    30/09/2017
16419    30/09/2017
16420    30/09/2017
16421    30/09/2017
16422    30/09/2017
16423    30/09/2017
16424    30/09/2017
Name: FECHA, Length: 16425, dtype: object

## Eliminar espacios al inicio y final de la cadena de caracteres

In [12]:
for column in df.columns:
    df[column] = df[column].map(lambda x: str(x).strip())

## Cambiar el orden de las columnas

Para modificar el orden de las columnas agregadas recientemente y tenerlas de forma organizada, se puede hacer de la siguiente forma.

In [13]:
cols = df.columns.tolist()
cols

['ID',
 'HORA',
 'FECHA',
 'MES',
 'DELITO',
 'CALLE',
 'No.',
 'ENTRE_CALLE_1',
 'ENTRE_CALLE_2',
 'COLONIA',
 'SECTOR',
 'CUADRANTE',
 'TURNO',
 'X',
 'Y',
 'HORA_INICIO',
 'HORA_FIN']

In [14]:
cols = cols[:1] + cols[-2:] + cols[2:-2:]
cols

['ID',
 'HORA_INICIO',
 'HORA_FIN',
 'FECHA',
 'MES',
 'DELITO',
 'CALLE',
 'No.',
 'ENTRE_CALLE_1',
 'ENTRE_CALLE_2',
 'COLONIA',
 'SECTOR',
 'CUADRANTE',
 'TURNO',
 'X',
 'Y']

Se pone en este nuevo orden el dataframe.

In [15]:
df = df[cols]
print(df)

          ID HORA_INICIO HORA_FIN       FECHA         MES  \
0          1       22:30    04:00    1/1/2016       ENERO
1          2        6:40     6:40    1/1/2016       ENERO
2          3       13:30    13:30    1/1/2016       ENERO
3          4       03:00    05:00    1/1/2016       ENERO
4          5       14:00    14:00    1/1/2016       ENERO
5          6        0:05     0:05    1/1/2016       ENERO
6          7        4:00     4:00    1/1/2016       ENERO
7          8        4:58     4:58    1/1/2016       ENERO
8          9       18:13    18:13    1/1/2016       ENERO
9         10       19:40    19:40    1/1/2016       ENERO
10        11       21:10    21:10    1/1/2016       ENERO
11        12        7:20     7:20    1/1/2016       ENERO
12        13       20:09    20:09    1/1/2016       ENERO
13        14       15:34    15:34    1/1/2016       ENERO
14        15       18:53    18:53    1/1/2016       ENERO
15        16        2:40     2:40    1/1/2016       ENERO
16        17       18:17    18:17    1/1/2016       ENERO
17        18       19:17    19:17    1/1/2016       ENERO
18        19        0:00     0:00    2/1/2016       ENERO
19        20       19:45    19:45    2/1/2016       ENERO
20        21        7:30     7:30    2/1/2016       ENERO
21        22       21:30    21:30    2/1/2016       ENERO
22        23       14:00    16:30    2/1/2016       ENERO
23        24       20:00    20:00    2/1/2016       ENERO
24        25        4:00     4:00    2/1/2016       ENERO
25        26       13:12    13:12    2/1/2016       ENERO
26        27       19:58    19:58    2/1/2016       ENERO
27        28       20:20    20:20    2/1/2016       ENERO
28        29       20:45    20:45    2/1/2016       ENERO
29        30       22:18    22:18    2/1/2016       ENERO
...      ...         ...      ...         ...         ...
16395  16396       22:50    22:50  29/09/2017  SEPTIEMBRE
16396  16397       21:15    21:15  29/09/2017  SEPTIEMBRE
16397  16398       15:30    15:30  29/09/2017  SEPTIEMBRE
16398  16399       12:10    12:10  29/09/2017  SEPTIEMBRE
16399  16400        7:40     7:40   10/9/2017  SEPTIEMBRE
16400  16401       22:15    22:15   11/9/2017  SEPTIEMBRE
16401  16402        7:20     7:20   11/9/2017  SEPTIEMBRE
16402  16403        1:00     1:00  14/09/2017  SEPTIEMBRE
16403  16404       12:00    12:00  13/09/2017  SEPTIEMBRE
16404  16405       19:47    19:47  13/09/2017  SEPTIEMBRE
16405  16406       14:10    14:10  14/09/2017  SEPTIEMBRE
16406  16407       10:30    10:30  14/09/2017  SEPTIEMBRE
16407  16408       12:10    12:10  15/09/2017  SEPTIEMBRE
16408  16409        6:03     6:03  16/09/2017  SEPTIEMBRE
16409  16410       17:00    17:00  17/09/2017  SEPTIEMBRE
16410  16411        9:10     9:10  18/09/2017  SEPTIEMBRE
16411  16412       10:48    10:48  19/09/2017  SEPTIEMBRE
16412  16413       16:40    16:40  21/09/2017  SEPTIEMBRE
16413  16414       14:35    14:35  22/09/2017  SEPTIEMBRE
16414  16415        4:10     4:10  23/09/2017  SEPTIEMBRE
16415  16416       20:44    20:44  26/09/2017  SEPTIEMBRE
16416  16417       15:00    15:00  28/09/2017  SEPTIEMBRE
16417  16418       22:19    22:19  13/09/2017  SEPTIEMBRE
16418  16419        6:30     6:30  30/09/2017  SEPTIEMBRE
16419  16420       20:30    20:30  30/09/2017  SEPTIEMBRE
16420  16421       23:30    23:30  30/09/2017  SEPTIEMBRE
16421  16422       10:15    10:15  30/09/2017  SEPTIEMBRE
16422  16423       16:24    16:24  30/09/2017  SEPTIEMBRE
16423  16424       15:10    15:10  30/09/2017  SEPTIEMBRE
16424  16425       23:30    23:30  30/09/2017  SEPTIEMBRE

                          DELITO                      CALLE         No.  \
0               ROBO DE VEHICULO            VALLE DE MEXICO     Sin No.
1               ROBO DE VEHICULO              RANCHO GRANDE     Sin No.
2               ROBO DE VEHICULO                   LAURELES     Sin No.
3               ROBO DE VEHICULO              LAGO GRAN OSO          99
4               ROBO DE VEHICULO              LA CHAPARRITA     Sin No.
5                      SECUESTRO                     FAISAN          40
6         ROBO A CASA HABITACION            VALLE DE MEXICO         107
7         ROBO A CASA HABITACION              AV. PANTITLAN     Sin No.
8         ROBO A CASA HABITACION                  CLAVELERO          35
9         ROBO A CASA HABITACION          VALLE DE IRAGUADI          34
10        ROBO A CASA HABITACION                   PATAGUAS         196
11               ROBO A COMERCIO           AV. CHIMALHUACAN     Sin No.
12           ROBO EN VIA PUBLICA             AV. PERIFERICO     Sin No.
13           ROBO EN VIA PUBLICA           PRADOS DE CIPRES     Sin No.
14           ROBO EN VIA PUBLICA                   COATEPEC     Sin No.
15           ROBO EN VIA PUBLICA                 ORIENTE 30     Sin No.
16                     EXTORSION                    CALLE 3         254
17                     EXTORSION              AV. PANTITLAN     Sin No.
18              ROBO DE VEHICULO           VALLE DEL CEREZO         181
19              ROBO DE VEHICULO                  MALINALCO         108
20              ROBO DE VEHICULO                VALSEQUILLO     Sin No.
21              ROBO DE VEHICULO             FLOR SILVESTRE     Sin No.
22              ROBO DE VEHICULO                    CALLE 3         256
23              ROBO DE VEHICULO              AV. PANTITLAN     Sin No.
24              ROBO DE VEHICULO          CORRIDO DEL NORTE         218
25        ROBO A CUENTA HABIENTE                   CALLE 21         132
26               ROBO A COMERCIO    AV. ADOLFO LOPEZ MATEOS     Sin No.
27               ROBO A COMERCIO               SANTA MONICA     Sin No.
28               ROBO A COMERCIO  ANGEL DE LA INDEPENDENCIA     Sin No.
29               ROBO A COMERCIO         JORGE LUQUE LOYOLA     Sin No.
...                          ...                        ...         ...
16395        ROBO EN VIA PUBLICA           VILLA DE ALLENDE     Sin No.
16396        ROBO EN VIA PUBLICA            MONEDITA DE ORO     Sin No.
16397        ROBO EN VIA PUBLICA           AV. CHIMALHUACAN     Sin No.
16398        ROBO EN VIA PUBLICA                AV. TEXCOCO     Sin No.
16399  ROBO A TRANSPORTE PUBLICO           AV. CHIMALHUACAN     Sin No.
16400  ROBO A TRANSPORTE PUBLICO                AV. TEXCOCO     Sin No.
16401  ROBO A TRANSPORTE PUBLICO                    4ta AV.     Sin No.
16402  ROBO A TRANSPORTE PUBLICO             AV. PERIFERICO     Sin No.
16403  ROBO A TRANSPORTE PUBLICO             AV. AEROPUERTO     Sin No.
16404  ROBO A TRANSPORTE PUBLICO                     PAGARE     Sin No.
16405  ROBO A TRANSPORTE PUBLICO                AV. CENTRAL     Sin No.
16406  ROBO A TRANSPORTE PUBLICO        AV. VICENTE VILLADA     Sin No.
16407  ROBO A TRANSPORTE PUBLICO           AV. CHIMALHUACAN     Sin No.
16408  ROBO A TRANSPORTE PUBLICO             AV. PERIFERICO     Sin No.
16409  ROBO A TRANSPORTE PUBLICO    AV. ADOLFO LOPEZ MATEOS     Sin No.
16410  ROBO A TRANSPORTE PUBLICO             AV. PERIFERICO     Sin No.
16411  ROBO A TRANSPORTE PUBLICO             AV. CUAUHTEMOC     Sin No.
16412  ROBO A TRANSPORTE PUBLICO               CABALLO BAYO     Sin No.
16413  ROBO A TRANSPORTE PUBLICO         AV. NEZAHUALCOYOTL     Sin No.
16414  ROBO A TRANSPORTE PUBLICO           AV. CHIMALHUACAN     Sin No.
16415  ROBO A TRANSPORTE PUBLICO           AV. RIVA PALACIO     Sin No.
16416  ROBO A TRANSPORTE PUBLICO    AV. ADOLFO LOPEZ MATEOS     Sin No.
16417                  VIOLACION                   CALLE 33         154
16418            ROBO A COMERCIO           PLAZAS DE ARAGON  MZ.30 LT.8
16419            ROBO A COMERCIO        HACIEND DA LA NORIA     Sin No.
16420            ROBO A COMERCIO             VALLE DE BRAVO          48
16421        ROBO EN VIA PUBLICA    AV. ADOLFO LOPEZ MATEOS     Sin No.
16422            ROBO A COMERCIO                  CABALLITO     Sin No.
16423        ROBO EN VIA PUBLICA                    CORREOS     Sin No.
16424        ROBO EN VIA PUBLICA             VALLE DE BRAVO     Sin No.

                   ENTRE_CALLE_1      ENTRE_CALLE_2  \
0              VALLE DE YANG TSE     VALLE DE YUKON
1              AV. CARMELO PEREZ  Sin ENTRE_CALLE_2
2                  CIELITO LINDO  Sin ENTRE_CALLE_2
3                    AV. PIRULES  Sin ENTRE_CALLE_2
4                         4ta AV  AMANECER RANCHERO
5                      ESCONDIDA     CAMA DE PIEDRA
6              VALLE DE YANG-TSE    VALLE DEL YUKON
7                       COCHERAS  Sin ENTRE_CALLE_2
8                 CAMA DE PIEDRA          ESCONDIDA
9        AV. RIO DE LOS REMEDIOS     VALLE DE VOLGA
10                     ESCONDIDA  Sin ENTRE_CALLE_2
11                       ARDILLA  Sin ENTRE_CALLE_2
12       AV. CIRCUITO MEXIQUENSE  Sin ENTRE_CALLE_2
13              PRADOS DE ARAGON  Sin ENTRE_CALLE_2
14            AV. NEZAHUALCOYOTL  Sin ENTRE_CALLE_2
15                       NORTE 1  Sin ENTRE_CALLE_2
16                 CIELITO LINDO   AV. CHIMALHUACAN
17                       TLALPAN  Sin ENTRE_CALLE_2
18               VALLE DEL YUKON   VALLE DE SAMANZA
19                      CALLE 20           CALLE 21
20                      CALLE 14           CALLE 15
21              AV. CHIMALHUACAN     CAMA DE PIEDRA
22                 CIELITO LINDO   AV. CHIMALHUACAN
23                    ORIENTE 30  Sin ENTRE_CALLE_2
24                      MIXTECAS       LAS COSTENAS
25                     AVENIDA 4          AVENIDA 6
26            LAGUNA DE TERMINOS  Sin ENTRE_CALLE_2
27                  ROMERO RUBIO  Sin ENTRE_CALLE_2
28                     FLAMINGOS  Sin ENTRE_CALLE_2
29            LAGUNA DE TERMINOS  Sin ENTRE_CALLE_2
...                          ...                ...
16395                   ZARAGOZA  Sin ENTRE_CALLE_2
16396          AMANECER RANCHERO      CIELITO LINDO
16397                    ARDILLA  Sin ENTRE_CALLE_2
16398  JOSEFA ORTIZ DE DOMINGUEZ  Sin ENTRE_CALLE_2
16399                  CAMINANTE  Sin ENTRE_CALLE_2
16400           AV. LOPEZ MATEOS  Sin ENTRE_CALLE_2
16401               MEXICO LINDO  Sin ENTRE_CALLE_2
16402          VALLE DE SANTIAGO  Sin ENTRE_CALLE_2
16403          AV. PENON TEXCOCO  Sin ENTRE_CALLE_2
16404              CIELITO LINDO   AV. CHIMALHUACAN
16405             AV. PERIFERICO  Sin ENTRE_CALLE_2
16406                  ESCONDIDA  Sin ENTRE_CALLE_2
16407          AV. CARMELO PEREZ  Sin ENTRE_CALLE_2
16408            VALLE DE MEKONG  Sin ENTRE_CALLE_2
16409               INDIO TRISTE  Sin ENTRE_CALLE_2
16410           AV. CHIMALHUACAN  Sin ENTRE_CALLE_2
16411           AV. CHIMALHUACAN  Sin ENTRE_CALLE_2
16412              CIELITO LINDO  Sin ENTRE_CALLE_2
16413           AV. CHIMALHUACAN  Sin ENTRE_CALLE_2
16414          AV. CARMELO PEREZ  Sin ENTRE_CALLE_2
16415      AV. BORDO DE XOCHIACA  Sin ENTRE_CALLE_2
16416          GLORIETA DE COLON  Sin ENTRE_CALLE_2
16417                  AVENIDA 8          AVENIDA 6
16418          Sin ENTRE_CALLE_1  Sin ENTRE_CALLE_2
16419        HACIENDA DE JAJALPA  Sin ENTRE_CALLE_2
16420          Sin ENTRE_CALLE_1  Sin ENTRE_CALLE_2
16421                ESCALERILAS  Sin ENTRE_CALLE_2
16422                  FLAMINGOS  Sin ENTRE_CALLE_2
16423      GLORIETA DE PETROLEOS      AV. PANTITLAN
16424                    CALLE 7  Sin ENTRE_CALLE_2

                           COLONIA SECTOR CUADRANTE TURNO           X  \
0      VALLE DE ARAGON 1ra SECCION    1.0      C013     1  -99.051253
1                BENITO JUAREZ III   11.0      C112     1  -98.991762
2                 BENITO JUAREZ II   10.0      C108     2  -99.006214
3                        AGUA AZUL    9.0      C095     1  -99.033186
4                BENITO JUAREZ III   11.0      C116     2  -98.996179
5                  BENITO JUAREZ I    9.0      C092     1  -99.021046
6      VALLE DE ARAGON 1ra SECCION    1.0      C013     1   -99.05085
7                    PORFIRIO DIAZ    8.0      C081     1  -99.032195
8                 BENITO JUAREZ II    9.0      C094     2  -99.011126
9      VALLE DE ARAGON 1ra SECCION    1.0      C013     3  -99.053831
10                        LA PERLA   12.0      C125     3  -98.995911
11               BENITO JUAREZ III   12.0      C121     2  -98.999676
12                 LAZARO CARDENAS    2.0      C022     3  -99.030163
13                PRADOS DE ARAGON    2.0      C026     2  -99.045095
14                     LAS FUENTES    8.0      C081     2  -99.037534
15                         REFORMA   14.0      C146     1   -98.97161
16                       ESPERANZA   11.0      C118     2  -98.986571
17                 VICENTE VILLADA   13.0      C131     3  -99.010075
18     VALLE DE ARAGON 1ra SECCION    1.0      C011     3  -99.061765
19                      MARAVILLAS    6.0      C062     2  -99.048657
20                JUAREZ PANTITLAN    7.0      C075     1    -99.0555
21                BENITO JUAREZ II    9.0      C094     2  -99.010828
22                       ESPERANZA   11.0      C118     1  -98.986655
23                         REFORMA   15.0      C153     2  -98.972354
24               BENITO JUAREZ III   11.0      C111     1  -98.997543
25                     LAS AGUILAS   13.0      C135     1  -99.001155
26                       AGUA AZUL    9.0      C091     2  -99.024387
27                 VICENTE VILLADA   13.0      C134     2  -99.013405
28       METROPOLITANA 2da SECCION    8.0      C086     2  -99.028096
29                       AGUA AZUL    6.0      C064     2  -99.034112
...                            ...    ...       ...   ...         ...
16395                  ATLACOMULCO    8.0      C084     2  -99.039503
16396            BENITO JUAREZ III   10.0      C108     2  -99.012484
16397            BENITO JUAREZ III   12.0      C121     1  -98.999621
16398                  LOMA BONITA   15.0      C154     1  -98.992363
16399            BENITO JUAREZ III   11.0      C117     2  -98.991788
16400    METROPOLITANA 2da SECCION    8.0      C086     2  -99.034373
16401            BENITO JUAREZ III   11.0      C113     1  -99.001128
16402  VALLE DE ARAGON 1ra SECCION    1.0      C012     3  -99.054025
16403                  CIUDAD LAGO    3.0      C036     2  -99.048649
16404            BENITO JUAREZ III   11.0      C117     3   -98.99313
16405  VALLE DE ARAGON 2da SECCION    2.0      C021     1  -99.046428
16406   AMPLIACION VICENTE VILLADA    9.0      C094     1   -99.00873
16407            BENITO JUAREZ III   11.0      C117     3   -98.99783
16408  VALLE DE ARAGON 1ra SECCION    1.0      C013     1  -99.049857
16409    METROPOLITANA 2da SECCION    8.0      C086     1  -99.032881
16410             ESTADO DE MEXICO    5.0      C054     3  -99.055506
16411             ESTADO DE MEXICO    5.0      C055     2  -99.048866
16412              BENITO JUAREZ I   10.0      C107     3  -99.016976
16413                    AGUA AZUL    5.0      C056     2  -99.031117
16414            BENITO JUAREZ III   11.0      C117     3  -98.997715
16415             ESTADO DE MEXICO    5.0      C052     2  -99.037938
16416                    EVOLUCION    9.0      C096     2   -99.02639
16417       AMPLIACION LAS AGUILAS   13.0      C133     3  -98.996898
16418             PLAZAS DE ARAGON    2.0      C022     2   -99.03708
16419                    IMPULSORA    2.0      C024     1  -99.042063
16420                     EL BARCO    6.0      C061     1  -99.053343
16421    METROPOLITANA 2da SECCION    8.0      C086     3   -99.03188
16422    METROPOLITANA 2da SECCION    8.0      C082     3  -99.030366
16423                    EVOLUCION    9.0      C096     3  -99.023886
16424                     EL BARCO    6.0      C061     1  -99.053895

               Y
0      19.488201
1      19.409349
2      19.404228
3      19.405685
4      19.402763
5        19.4053
6       19.48838
7      19.401072
8      19.400301
9      19.492558
10     19.391232
11     19.398242
12     19.484162
13     19.469971
14     19.401316
15     19.373987
16     19.393911
17     19.390972
18     19.490252
19     19.413942
20     19.403751
21     19.402488
22     19.393681
23     19.372713
24     19.414801
25     19.378338
26     19.408049
27     19.385161
28     19.394907
29     19.412607
...          ...
16395   19.39499
16396  19.408511
16397  19.398285
16398  19.368292
16399  19.394985
16400  19.390035
16401  19.406603
16402  19.494142
16403  19.453246
16404  19.395638
16405  19.490579
16406  19.398074
16407  19.397894
16408  19.491996
16409  19.392304
16410  19.422254
16411  19.420477
16412   19.40934
16413  19.413911
16414  19.397971
16415  19.425873
16416  19.403866
16417  19.378867
16418   19.48085
16419  19.479762
16420   19.41834
16421  19.394309
16422  19.396218
16423  19.399089
16424  19.418474

[16425 rows x 16 columns]

## Remover comas

En algunos casos el valor de un atributo puede contener una coma, esto no es deseable ya que se pueden producir erroes cuando se lee el archivo para ser procesado, en consecuencia es necesario eliminarlas.

In [16]:
df['No.'][1097]

'MZ. 130, LT. 4'

Para eliminarlas basta con utilizar el m√©todo ```replace()``` de una serie de la manera siguiente:

In [17]:
for column in df.columns:
    df[column] = df[column].str.replace(',', '.', regex=False)

In [18]:
df['No.'][1097]

'MZ. 130. LT. 4'

# Crear atributo 'coordenada'

Los atributos $X$ y $Y$ deben ser combinados en un solo atributo llamado COORDENADA, esta transformaci√≥n es necesaria para utilizar una funci√≥n de similitud basada en la coordenada en la que ocurrio un delito.

In [19]:
df['COORDENADA'] = df['X'] + ' ' + df['Y']
df = df.drop('X', 1)
df = df.drop('Y', 1)

In [20]:
df.to_csv('Delitos_cleaned.csv')