# Limpieza de datos
Como punto inicial se importan los paquetes necesarios para el procesamiento de los datos

In [65]:
import numpy as np
import pandas as pd

Ahora se crea un data frame usando la función read_csv de pandas

In [66]:
df = pd.read_csv('InfoNeza/Delitos/Delitos.csv')
print(df)

          ID           HORA      FECHA         MES                     DELITO  \
0          1  22:30 A 04:00   1/1/2016       ENERO           ROBO DE VEHICULO
1          2           6:40   1/1/2016       ENERO           ROBO DE VEHICULO
2          3          13:30   1/1/2016       ENERO           ROBO DE VEHICULO
3          4  03:00 A 05:00   1/1/2016       ENERO           ROBO DE VEHICULO
4          5          14:00   1/1/2016       ENERO           ROBO DE VEHICULO
5          6           0:05   1/1/2016       ENERO                  SECUESTRO
6          7           4:00   1/1/2016       ENERO     ROBO A CASA HABITACION
7          8           4:58   1/1/2016       ENERO     ROBO A CASA HABITACION
8          9          18:13   1/1/2016       ENERO     ROBO A CASA HABITACION
9         10          19:40   1/1/2016       ENERO     ROBO A CASA HABITACION
10        11          21:10   1/1/2016       ENERO     ROBO A CASA HABITACION
11        12           7:20   1/1/2016       ENERO            ROBO A COMERCIO
12        13          20:09   1/1/2016       ENERO        ROBO EN VIA PUBLICA
13        14          15:34   1/1/2016       ENERO        ROBO EN VIA PUBLICA
14        15          18:53   1/1/2016       ENERO        ROBO EN VIA PUBLICA
15        16           2:40   1/1/2016       ENERO        ROBO EN VIA PUBLICA
16        17          18:17   1/1/2016       ENERO                  EXTORSION
17        18          19:17   1/1/2016       ENERO                  EXTORSION
18        19           0:00   2/1/2016       ENERO           ROBO DE VEHICULO
19        20          19:45   2/1/2016       ENERO           ROBO DE VEHICULO
20        21           7:30   2/1/2016       ENERO           ROBO DE VEHICULO
21        22          21:30   2/1/2016       ENERO           ROBO DE VEHICULO
22        23  14:00 A 16:30   2/1/2016       ENERO           ROBO DE VEHICULO
23        24          20:00   2/1/2016       ENERO           ROBO DE VEHICULO
24        25           4:00   2/1/2016       ENERO           ROBO DE VEHICULO
25        26          13:12   2/1/2016       ENERO     ROBO A CUENTA HABIENTE
26        27          19:58   2/1/2016       ENERO            ROBO A COMERCIO
27        28          20:20   2/1/2016       ENERO            ROBO A COMERCIO
28        29          20:45   2/1/2016       ENERO            ROBO A COMERCIO
29        30          22:18   2/1/2016       ENERO            ROBO A COMERCIO
...      ...            ...        ...         ...                        ...
16395  16396          22:50   29/09/17  SEPTIEMBRE        ROBO EN VIA PUBLICA
16396  16397          21:15   29/09/17  SEPTIEMBRE        ROBO EN VIA PUBLICA
16397  16398          15:30   29/09/17  SEPTIEMBRE        ROBO EN VIA PUBLICA
16398  16399          12:10   29/09/17  SEPTIEMBRE        ROBO EN VIA PUBLICA
16399  16400           7:40  10/9/2017  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16400  16401          22:15  11/9/2017  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16401  16402           7:20  11/9/2017  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16402  16403           1:00   14/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16403  16404          12:00   13/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16404  16405          19:47   13/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16405  16406          14:10   14/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16406  16407          10:30   14/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16407  16408          12:10   15/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16408  16409           6:03   16/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16409  16410          17:00   17/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16410  16411           9:10   18/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16411  16412          10:48   19/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16412  16413          16:40   21/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16413  16414          14:35   22/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16414  16415           4:10   23/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16415  16416          20:44   26/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16416  16417          15:00   28/09/17  SEPTIEMBRE  ROBO A TRANSPORTE PUBLICO
16417  16418          22:19   13/09/17  SEPTIEMBRE                  VIOLACION
16418  16419           6:30   30/09/17  SEPTIEMBRE            ROBO A COMERCIO
16419  16420          20:30   30/09/17  SEPTIEMBRE            ROBO A COMERCIO
16420  16421          23:30   30/09/17  SEPTIEMBRE            ROBO A COMERCIO
16421  16422          10:15   30/09/17  SEPTIEMBRE        ROBO EN VIA PUBLICA
16422  16423          16:24   30/09/17  SEPTIEMBRE            ROBO A COMERCIO
16423  16424          15:10   30/09/17  SEPTIEMBRE        ROBO EN VIA PUBLICA
16424  16425          23:30   30/09/17  SEPTIEMBRE        ROBO EN VIA PUBLICA

                           CALLE         No.              ENTRE_CALLE_1  \
0                VALLE DE MEXICO         NaN          VALLE DE YANG TSE
1                  RANCHO GRANDE         NaN          AV. CARMELO PEREZ
2                       LAURELES         NaN              CIELITO LINDO
3                  LAGO GRAN OSO          99                AV. PIRULES
4                  LA CHAPARRITA         NaN                     4ta AV
5                         FAISAN          40                  ESCONDIDA
6                VALLE DE MEXICO         107          VALLE DE YANG-TSE
7                  AV. PANTITLAN         NaN                   COCHERAS
8                      CLAVELERO          35             CAMA DE PIEDRA
9              VALLE DE IRAGUADI          34    AV. RIO DE LOS REMEDIOS
10                      PATAGUAS         196                  ESCONDIDA
11              AV. CHIMALHUACAN         NaN                    ARDILLA
12                AV. PERIFERICO         NaN    AV. CIRCUITO MEXIQUENSE
13              PRADOS DE CIPRES         NaN           PRADOS DE ARAGON
14                      COATEPEC         NaN         AV. NEZAHUALCOYOTL
15                    ORIENTE 30         NaN                    NORTE 1
16                       CALLE 3         254              CIELITO LINDO
17                 AV. PANTITLAN         NaN                    TLALPAN
18              VALLE DEL CEREZO         181            VALLE DEL YUKON
19                     MALINALCO         108                   CALLE 20
20                   VALSEQUILLO         NaN                   CALLE 14
21                FLOR SILVESTRE         NaN           AV. CHIMALHUACAN
22                       CALLE 3         256              CIELITO LINDO
23                 AV. PANTITLAN         NaN                 ORIENTE 30
24             CORRIDO DEL NORTE         218                   MIXTECAS
25                      CALLE 21         132                  AVENIDA 4
26       AV. ADOLFO LOPEZ MATEOS         NaN         LAGUNA DE TERMINOS
27                  SANTA MONICA         NaN               ROMERO RUBIO
28     ANGEL DE LA INDEPENDENCIA         NaN                  FLAMINGOS
29            JORGE LUQUE LOYOLA         NaN         LAGUNA DE TERMINOS
...                          ...         ...                        ...
16395           VILLA DE ALLENDE         NaN                   ZARAGOZA
16396            MONEDITA DE ORO         NaN          AMANECER RANCHERO
16397           AV. CHIMALHUACAN         NaN                    ARDILLA
16398                AV. TEXCOCO         NaN  JOSEFA ORTIZ DE DOMINGUEZ
16399           AV. CHIMALHUACAN         NaN                  CAMINANTE
16400                AV. TEXCOCO         NaN           AV. LOPEZ MATEOS
16401                    4ta AV.         NaN               MEXICO LINDO
16402             AV. PERIFERICO         NaN          VALLE DE SANTIAGO
16403             AV. AEROPUERTO         NaN          AV. PENON TEXCOCO
16404                     PAGARE         NaN              CIELITO LINDO
16405                AV. CENTRAL         NaN             AV. PERIFERICO
16406        AV. VICENTE VILLADA         NaN                  ESCONDIDA
16407           AV. CHIMALHUACAN         NaN          AV. CARMELO PEREZ
16408             AV. PERIFERICO         NaN            VALLE DE MEKONG
16409    AV. ADOLFO LOPEZ MATEOS         NaN               INDIO TRISTE
16410             AV. PERIFERICO         NaN           AV. CHIMALHUACAN
16411             AV. CUAUHTEMOC         NaN           AV. CHIMALHUACAN
16412               CABALLO BAYO         NaN              CIELITO LINDO
16413         AV. NEZAHUALCOYOTL         NaN           AV. CHIMALHUACAN
16414           AV. CHIMALHUACAN         NaN          AV. CARMELO PEREZ
16415           AV. RIVA PALACIO         NaN      AV. BORDO DE XOCHIACA
16416    AV. ADOLFO LOPEZ MATEOS         NaN          GLORIETA DE COLON
16417                   CALLE 33         154                  AVENIDA 8
16418           PLAZAS DE ARAGON  MZ.30 LT.8                        NaN
16419        HACIEND DA LA NORIA         NaN        HACIENDA DE JAJALPA
16420             VALLE DE BRAVO          48                        NaN
16421    AV. ADOLFO LOPEZ MATEOS         NaN                ESCALERILAS
16422                  CABALLITO         NaN                  FLAMINGOS
16423                    CORREOS         NaN      GLORIETA DE PETROLEOS
16424             VALLE DE BRAVO         NaN                    CALLE 7

           ENTRE_CALLE_2                      COLONIA  SECTOR CUADRANTE  \
0         VALLE DE YUKON  VALLE DE ARAGON 1ra SECCION     1.0      C013
1                    NaN            BENITO JUAREZ III    11.0      C112
2                    NaN             BENITO JUAREZ II    10.0      C108
3                    NaN                    AGUA AZUL     9.0      C095
4      AMANECER RANCHERO            BENITO JUAREZ III    11.0      C116
5         CAMA DE PIEDRA              BENITO JUAREZ I     9.0      C092
6        VALLE DEL YUKON  VALLE DE ARAGON 1ra SECCION     1.0      C013
7                    NaN                PORFIRIO DIAZ     8.0      C081
8              ESCONDIDA             BENITO JUAREZ II     9.0      C094
9         VALLE DE VOLGA  VALLE DE ARAGON 1ra SECCION     1.0      C013
10                   NaN                     LA PERLA    12.0      C125
11                   NaN            BENITO JUAREZ III    12.0      C121
12                   NaN              LAZARO CARDENAS     2.0      C022
13                   NaN             PRADOS DE ARAGON     2.0      C026
14                   NaN                  LAS FUENTES     8.0      C081
15                   NaN                      REFORMA    14.0      C146
16      AV. CHIMALHUACAN                    ESPERANZA    11.0      C118
17                   NaN              VICENTE VILLADA    13.0      C131
18      VALLE DE SAMANZA  VALLE DE ARAGON 1ra SECCION     1.0      C011
19              CALLE 21                   MARAVILLAS     6.0      C062
20              CALLE 15             JUAREZ PANTITLAN     7.0      C075
21        CAMA DE PIEDRA             BENITO JUAREZ II     9.0      C094
22      AV. CHIMALHUACAN                    ESPERANZA    11.0      C118
23                   NaN                      REFORMA    15.0      C153
24          LAS COSTENAS            BENITO JUAREZ III    11.0      C111
25             AVENIDA 6                  LAS AGUILAS    13.0      C135
26                   NaN                    AGUA AZUL     9.0      C091
27                   NaN              VICENTE VILLADA    13.0      C134
28                   NaN    METROPOLITANA 2da SECCION     8.0      C086
29                   NaN                    AGUA AZUL     6.0      C064
...                  ...                          ...     ...       ...
16395                NaN                  ATLACOMULCO     8.0      C084
16396      CIELITO LINDO            BENITO JUAREZ III    10.0      C108
16397                NaN            BENITO JUAREZ III    12.0      C121
16398                NaN                  LOMA BONITA    15.0      C154
16399                NaN            BENITO JUAREZ III    11.0      C117
16400                NaN    METROPOLITANA 2da SECCION     8.0      C086
16401                NaN            BENITO JUAREZ III    11.0      C113
16402                NaN  VALLE DE ARAGON 1ra SECCION     1.0      C012
16403                NaN                  CIUDAD LAGO     3.0      C036
16404   AV. CHIMALHUACAN            BENITO JUAREZ III    11.0      C117
16405                NaN  VALLE DE ARAGON 2da SECCION     2.0      C021
16406                NaN   AMPLIACION VICENTE VILLADA     9.0      C094
16407                NaN            BENITO JUAREZ III    11.0      C117
16408                NaN  VALLE DE ARAGON 1ra SECCION     1.0      C013
16409                NaN    METROPOLITANA 2da SECCION     8.0      C086
16410                NaN             ESTADO DE MEXICO     5.0      C054
16411                NaN             ESTADO DE MEXICO     5.0      C055
16412                NaN              BENITO JUAREZ I    10.0      C107
16413                NaN                    AGUA AZUL     5.0      C056
16414                NaN            BENITO JUAREZ III    11.0      C117
16415                NaN             ESTADO DE MEXICO     5.0      C052
16416                NaN                    EVOLUCION     9.0      C096
16417          AVENIDA 6       AMPLIACION LAS AGUILAS    13.0      C133
16418                NaN             PLAZAS DE ARAGON     2.0      C022
16419                NaN                    IMPULSORA     2.0      C024
16420                NaN                     EL BARCO     6.0      C061
16421                NaN    METROPOLITANA 2da SECCION     8.0      C086
16422                NaN    METROPOLITANA 2da SECCION     8.0      C082
16423      AV. PANTITLAN                    EVOLUCION     9.0      C096
16424                NaN                     EL BARCO     6.0      C061

       TURNO          X          Y
0          1 -99.051253  19.488201
1          1 -98.991762  19.409349
2          2 -99.006214  19.404228
3          1 -99.033186  19.405685
4          2 -98.996179  19.402763
5          1 -99.021046  19.405300
6          1 -99.050850  19.488380
7          1 -99.032195  19.401072
8          2 -99.011126  19.400301
9          3 -99.053831  19.492558
10         3 -98.995911  19.391232
11         2 -98.999676  19.398242
12         3 -99.030163  19.484162
13         2 -99.045095  19.469971
14         2 -99.037534  19.401316
15         1 -98.971610  19.373987
16         2 -98.986571  19.393911
17         3 -99.010075  19.390972
18         3 -99.061765  19.490252
19         2 -99.048657  19.413942
20         1 -99.055500  19.403751
21         2 -99.010828  19.402488
22         1 -98.986655  19.393681
23         2 -98.972354  19.372713
24         1 -98.997543  19.414801
25         1 -99.001155  19.378338
26         2 -99.024387  19.408049
27         2 -99.013405  19.385161
28         2 -99.028096  19.394907
29         2 -99.034112  19.412607
...      ...        ...        ...
16395      2 -99.039503  19.394990
16396      2 -99.012484  19.408511
16397      1 -98.999621  19.398285
16398      1 -98.992363  19.368292
16399      2 -98.991788  19.394985
16400      2 -99.034373  19.390035
16401      1 -99.001128  19.406603
16402      3 -99.054025  19.494142
16403      2 -99.048649  19.453246
16404      3 -98.993130  19.395638
16405      1 -99.046428  19.490579
16406      1 -99.008730  19.398074
16407      3 -98.997830  19.397894
16408      1 -99.049857  19.491996
16409      1 -99.032881  19.392304
16410      3 -99.055506  19.422254
16411      2 -99.048866  19.420477
16412      3 -99.016976  19.409340
16413      2 -99.031117  19.413911
16414      3 -98.997715  19.397971
16415      2 -99.037938  19.425873
16416      2 -99.026390  19.403866
16417      3 -98.996898  19.378867
16418      2 -99.037080  19.480850
16419      1 -99.042063  19.479762
16420      1 -99.053343  19.418340
16421      3 -99.031880  19.394309
16422      3 -99.030366  19.396218
16423      3 -99.023886  19.399089
16424      1 -99.053895  19.418474

[16425 rows x 15 columns]

Una vez cargados los datos en el data frame es posible acceder a los datos de cada columna usando el nombre correspondiente. Para ver las columnas contenidas en el dataframe basta con usar el atributo columns:

In [67]:
print(df.columns)

Index(['ID', 'HORA', 'FECHA', 'MES', 'DELITO', 'CALLE', 'No.', 'ENTRE_CALLE_1',
       'ENTRE_CALLE_2', 'COLONIA', 'SECTOR', 'CUADRANTE', 'TURNO', 'X', 'Y'],
      dtype='object')

De acuerdo a lo anterior, para imprimir la calle en la que fueron cometidos los primeros 10 delitos se puede utilizar ademas el método head().

In [68]:
print(df['CALLE'].head(10))

0      VALLE DE MEXICO
1        RANCHO GRANDE
2             LAURELES
3        LAGO GRAN OSO
4        LA CHAPARRITA
5               FAISAN
6      VALLE DE MEXICO
7        AV. PANTITLAN
8            CLAVELERO
9    VALLE DE IRAGUADI
Name: CALLE, dtype: object

De manera similar se puede utilizar el metodo tail() para imprimir los datos al final de la columna:

In [69]:
print(df['No.'].tail(20))

16405           NaN
16406           NaN
16407           NaN
16408           NaN
16409           NaN
16410           NaN
16411           NaN
16412           NaN
16413           NaN
16414           NaN
16415           NaN
16416           NaN
16417           154
16418    MZ.30 LT.8
16419           NaN
16420            48
16421           NaN
16422           NaN
16423           NaN
16424           NaN
Name: No., dtype: object

## Rellenar campos vacíos

Como puede observarse varios de los registros de la columna "No." no tienen un valor asociado. Una de las labores principales de cualquier proceso de limpieza de datos es asegurarse que los mismos estén estandarizados, en consecuencia es necesario eliminar esta anomalia. Para tal fin, cada registro que no tenga un valor en la columna "No." serán llenado con la leyenda "Sin No.". Para realizar esta transformación basta con usar el metodo fillna() de una serie. Este método regresa una copia de la serie donde cada NaN es sustituido por el valor dado.

In [70]:
print(df['No.'].fillna('Sin No.').tail(20))

16405       Sin No.
16406       Sin No.
16407       Sin No.
16408       Sin No.
16409       Sin No.
16410       Sin No.
16411       Sin No.
16412       Sin No.
16413       Sin No.
16414       Sin No.
16415       Sin No.
16416       Sin No.
16417           154
16418    MZ.30 LT.8
16419       Sin No.
16420            48
16421       Sin No.
16422       Sin No.
16423       Sin No.
16424       Sin No.
Name: No., dtype: object

Ya que la columna 'No.' no es la única columna que presenta esta anomalia, es necesario realizar el proceso anterior para todas las columnas del dataframe.

In [71]:
for column in df.columns:
    df[column] = df[column].fillna('Sin ' + column)

El proceso anterior elimina las anomalias relacionadas con datos faltantes. Sin embargo, existen otros problemas que deben ser solucionados antes de que los datos puedan considerarse estandarizados. Por ejemplo, considere los datos que muestran la hora en la que fue cometido un delito.

In [72]:
print(df['HORA'].head(10))

0    22:30 A 04:00
1             6:40
2            13:30
3    03:00 A 05:00
4            14:00
5             0:05
6             4:00
7             4:58
8            18:13
9            19:40
Name: HORA, dtype: object

## Unificar el formato de las horas

Como se puede observar los datos tienen formatos diferentes. Existen registros que contienen una hora de inicio y una hora de fin. Con el objetivo de tener registro con entradas consistentes los datos de esta columna deben ser divididos. La columna 'HORA_INICIO' tendrá la hora en la que comenzó el delito, y la columna 'HORA_FIN' tendrá la hora en la que terminó el delito. Para aquellos registros que solo tengan una hora se tendra que la hora de inicio y la hora de fin será la misma.

In [73]:
df['HORA_INICIO'], df['HORA_FIN'] = df['HORA'].str.split(' A ', 1).str
df['HORA_FIN'] = np.where(pd.isna(df['HORA_FIN']), df['HORA_INICIO'], df['HORA_FIN'])

## Eliminar espacios al inicio y final de la cadena de caracteres

In [74]:
for column in df.columns:
    df[column] = df[column].map(lambda x: str(x).strip())

## Cambiar el orden de las columnas

Para modificar el orden de las columnas agregadas recientemente y tenerlas de forma organizada, se puede hacer de la siguiente forma.

In [75]:
cols = df.columns.tolist()
cols

['ID',
 'HORA',
 'FECHA',
 'MES',
 'DELITO',
 'CALLE',
 'No.',
 'ENTRE_CALLE_1',
 'ENTRE_CALLE_2',
 'COLONIA',
 'SECTOR',
 'CUADRANTE',
 'TURNO',
 'X',
 'Y',
 'HORA_INICIO',
 'HORA_FIN']

In [76]:
cols = cols[:1] + cols[-2:] + cols[2:-2:]
cols

['ID',
 'HORA_INICIO',
 'HORA_FIN',
 'FECHA',
 'MES',
 'DELITO',
 'CALLE',
 'No.',
 'ENTRE_CALLE_1',
 'ENTRE_CALLE_2',
 'COLONIA',
 'SECTOR',
 'CUADRANTE',
 'TURNO',
 'X',
 'Y']

Se pone en este nuevo orden el dataframe.

In [77]:
df = df[cols]
print(df)

          ID HORA_INICIO HORA_FIN      FECHA         MES  \
0          1       22:30    04:00   1/1/2016       ENERO
1          2        6:40     6:40   1/1/2016       ENERO
2          3       13:30    13:30   1/1/2016       ENERO
3          4       03:00    05:00   1/1/2016       ENERO
4          5       14:00    14:00   1/1/2016       ENERO
5          6        0:05     0:05   1/1/2016       ENERO
6          7        4:00     4:00   1/1/2016       ENERO
7          8        4:58     4:58   1/1/2016       ENERO
8          9       18:13    18:13   1/1/2016       ENERO
9         10       19:40    19:40   1/1/2016       ENERO
10        11       21:10    21:10   1/1/2016       ENERO
11        12        7:20     7:20   1/1/2016       ENERO
12        13       20:09    20:09   1/1/2016       ENERO
13        14       15:34    15:34   1/1/2016       ENERO
14        15       18:53    18:53   1/1/2016       ENERO
15        16        2:40     2:40   1/1/2016       ENERO
16        17       18:17    18:17   1/1/2016       ENERO
17        18       19:17    19:17   1/1/2016       ENERO
18        19        0:00     0:00   2/1/2016       ENERO
19        20       19:45    19:45   2/1/2016       ENERO
20        21        7:30     7:30   2/1/2016       ENERO
21        22       21:30    21:30   2/1/2016       ENERO
22        23       14:00    16:30   2/1/2016       ENERO
23        24       20:00    20:00   2/1/2016       ENERO
24        25        4:00     4:00   2/1/2016       ENERO
25        26       13:12    13:12   2/1/2016       ENERO
26        27       19:58    19:58   2/1/2016       ENERO
27        28       20:20    20:20   2/1/2016       ENERO
28        29       20:45    20:45   2/1/2016       ENERO
29        30       22:18    22:18   2/1/2016       ENERO
...      ...         ...      ...        ...         ...
16395  16396       22:50    22:50   29/09/17  SEPTIEMBRE
16396  16397       21:15    21:15   29/09/17  SEPTIEMBRE
16397  16398       15:30    15:30   29/09/17  SEPTIEMBRE
16398  16399       12:10    12:10   29/09/17  SEPTIEMBRE
16399  16400        7:40     7:40  10/9/2017  SEPTIEMBRE
16400  16401       22:15    22:15  11/9/2017  SEPTIEMBRE
16401  16402        7:20     7:20  11/9/2017  SEPTIEMBRE
16402  16403        1:00     1:00   14/09/17  SEPTIEMBRE
16403  16404       12:00    12:00   13/09/17  SEPTIEMBRE
16404  16405       19:47    19:47   13/09/17  SEPTIEMBRE
16405  16406       14:10    14:10   14/09/17  SEPTIEMBRE
16406  16407       10:30    10:30   14/09/17  SEPTIEMBRE
16407  16408       12:10    12:10   15/09/17  SEPTIEMBRE
16408  16409        6:03     6:03   16/09/17  SEPTIEMBRE
16409  16410       17:00    17:00   17/09/17  SEPTIEMBRE
16410  16411        9:10     9:10   18/09/17  SEPTIEMBRE
16411  16412       10:48    10:48   19/09/17  SEPTIEMBRE
16412  16413       16:40    16:40   21/09/17  SEPTIEMBRE
16413  16414       14:35    14:35   22/09/17  SEPTIEMBRE
16414  16415        4:10     4:10   23/09/17  SEPTIEMBRE
16415  16416       20:44    20:44   26/09/17  SEPTIEMBRE
16416  16417       15:00    15:00   28/09/17  SEPTIEMBRE
16417  16418       22:19    22:19   13/09/17  SEPTIEMBRE
16418  16419        6:30     6:30   30/09/17  SEPTIEMBRE
16419  16420       20:30    20:30   30/09/17  SEPTIEMBRE
16420  16421       23:30    23:30   30/09/17  SEPTIEMBRE
16421  16422       10:15    10:15   30/09/17  SEPTIEMBRE
16422  16423       16:24    16:24   30/09/17  SEPTIEMBRE
16423  16424       15:10    15:10   30/09/17  SEPTIEMBRE
16424  16425       23:30    23:30   30/09/17  SEPTIEMBRE

                          DELITO                      CALLE         No.  \
0               ROBO DE VEHICULO            VALLE DE MEXICO     Sin No.
1               ROBO DE VEHICULO              RANCHO GRANDE     Sin No.
2               ROBO DE VEHICULO                   LAURELES     Sin No.
3               ROBO DE VEHICULO              LAGO GRAN OSO          99
4               ROBO DE VEHICULO              LA CHAPARRITA     Sin No.
5                      SECUESTRO                     FAISAN          40
6         ROBO A CASA HABITACION            VALLE DE MEXICO         107
7         ROBO A CASA HABITACION              AV. PANTITLAN     Sin No.
8         ROBO A CASA HABITACION                  CLAVELERO          35
9         ROBO A CASA HABITACION          VALLE DE IRAGUADI          34
10        ROBO A CASA HABITACION                   PATAGUAS         196
11               ROBO A COMERCIO           AV. CHIMALHUACAN     Sin No.
12           ROBO EN VIA PUBLICA             AV. PERIFERICO     Sin No.
13           ROBO EN VIA PUBLICA           PRADOS DE CIPRES     Sin No.
14           ROBO EN VIA PUBLICA                   COATEPEC     Sin No.
15           ROBO EN VIA PUBLICA                 ORIENTE 30     Sin No.
16                     EXTORSION                    CALLE 3         254
17                     EXTORSION              AV. PANTITLAN     Sin No.
18              ROBO DE VEHICULO           VALLE DEL CEREZO         181
19              ROBO DE VEHICULO                  MALINALCO         108
20              ROBO DE VEHICULO                VALSEQUILLO     Sin No.
21              ROBO DE VEHICULO             FLOR SILVESTRE     Sin No.
22              ROBO DE VEHICULO                    CALLE 3         256
23              ROBO DE VEHICULO              AV. PANTITLAN     Sin No.
24              ROBO DE VEHICULO          CORRIDO DEL NORTE         218
25        ROBO A CUENTA HABIENTE                   CALLE 21         132
26               ROBO A COMERCIO    AV. ADOLFO LOPEZ MATEOS     Sin No.
27               ROBO A COMERCIO               SANTA MONICA     Sin No.
28               ROBO A COMERCIO  ANGEL DE LA INDEPENDENCIA     Sin No.
29               ROBO A COMERCIO         JORGE LUQUE LOYOLA     Sin No.
...                          ...                        ...         ...
16395        ROBO EN VIA PUBLICA           VILLA DE ALLENDE     Sin No.
16396        ROBO EN VIA PUBLICA            MONEDITA DE ORO     Sin No.
16397        ROBO EN VIA PUBLICA           AV. CHIMALHUACAN     Sin No.
16398        ROBO EN VIA PUBLICA                AV. TEXCOCO     Sin No.
16399  ROBO A TRANSPORTE PUBLICO           AV. CHIMALHUACAN     Sin No.
16400  ROBO A TRANSPORTE PUBLICO                AV. TEXCOCO     Sin No.
16401  ROBO A TRANSPORTE PUBLICO                    4ta AV.     Sin No.
16402  ROBO A TRANSPORTE PUBLICO             AV. PERIFERICO     Sin No.
16403  ROBO A TRANSPORTE PUBLICO             AV. AEROPUERTO     Sin No.
16404  ROBO A TRANSPORTE PUBLICO                     PAGARE     Sin No.
16405  ROBO A TRANSPORTE PUBLICO                AV. CENTRAL     Sin No.
16406  ROBO A TRANSPORTE PUBLICO        AV. VICENTE VILLADA     Sin No.
16407  ROBO A TRANSPORTE PUBLICO           AV. CHIMALHUACAN     Sin No.
16408  ROBO A TRANSPORTE PUBLICO             AV. PERIFERICO     Sin No.
16409  ROBO A TRANSPORTE PUBLICO    AV. ADOLFO LOPEZ MATEOS     Sin No.
16410  ROBO A TRANSPORTE PUBLICO             AV. PERIFERICO     Sin No.
16411  ROBO A TRANSPORTE PUBLICO             AV. CUAUHTEMOC     Sin No.
16412  ROBO A TRANSPORTE PUBLICO               CABALLO BAYO     Sin No.
16413  ROBO A TRANSPORTE PUBLICO         AV. NEZAHUALCOYOTL     Sin No.
16414  ROBO A TRANSPORTE PUBLICO           AV. CHIMALHUACAN     Sin No.
16415  ROBO A TRANSPORTE PUBLICO           AV. RIVA PALACIO     Sin No.
16416  ROBO A TRANSPORTE PUBLICO    AV. ADOLFO LOPEZ MATEOS     Sin No.
16417                  VIOLACION                   CALLE 33         154
16418            ROBO A COMERCIO           PLAZAS DE ARAGON  MZ.30 LT.8
16419            ROBO A COMERCIO        HACIEND DA LA NORIA     Sin No.
16420            ROBO A COMERCIO             VALLE DE BRAVO          48
16421        ROBO EN VIA PUBLICA    AV. ADOLFO LOPEZ MATEOS     Sin No.
16422            ROBO A COMERCIO                  CABALLITO     Sin No.
16423        ROBO EN VIA PUBLICA                    CORREOS     Sin No.
16424        ROBO EN VIA PUBLICA             VALLE DE BRAVO     Sin No.

                   ENTRE_CALLE_1      ENTRE_CALLE_2  \
0              VALLE DE YANG TSE     VALLE DE YUKON
1              AV. CARMELO PEREZ  Sin ENTRE_CALLE_2
2                  CIELITO LINDO  Sin ENTRE_CALLE_2
3                    AV. PIRULES  Sin ENTRE_CALLE_2
4                         4ta AV  AMANECER RANCHERO
5                      ESCONDIDA     CAMA DE PIEDRA
6              VALLE DE YANG-TSE    VALLE DEL YUKON
7                       COCHERAS  Sin ENTRE_CALLE_2
8                 CAMA DE PIEDRA          ESCONDIDA
9        AV. RIO DE LOS REMEDIOS     VALLE DE VOLGA
10                     ESCONDIDA  Sin ENTRE_CALLE_2
11                       ARDILLA  Sin ENTRE_CALLE_2
12       AV. CIRCUITO MEXIQUENSE  Sin ENTRE_CALLE_2
13              PRADOS DE ARAGON  Sin ENTRE_CALLE_2
14            AV. NEZAHUALCOYOTL  Sin ENTRE_CALLE_2
15                       NORTE 1  Sin ENTRE_CALLE_2
16                 CIELITO LINDO   AV. CHIMALHUACAN
17                       TLALPAN  Sin ENTRE_CALLE_2
18               VALLE DEL YUKON   VALLE DE SAMANZA
19                      CALLE 20           CALLE 21
20                      CALLE 14           CALLE 15
21              AV. CHIMALHUACAN     CAMA DE PIEDRA
22                 CIELITO LINDO   AV. CHIMALHUACAN
23                    ORIENTE 30  Sin ENTRE_CALLE_2
24                      MIXTECAS       LAS COSTENAS
25                     AVENIDA 4          AVENIDA 6
26            LAGUNA DE TERMINOS  Sin ENTRE_CALLE_2
27                  ROMERO RUBIO  Sin ENTRE_CALLE_2
28                     FLAMINGOS  Sin ENTRE_CALLE_2
29            LAGUNA DE TERMINOS  Sin ENTRE_CALLE_2
...                          ...                ...
16395                   ZARAGOZA  Sin ENTRE_CALLE_2
16396          AMANECER RANCHERO      CIELITO LINDO
16397                    ARDILLA  Sin ENTRE_CALLE_2
16398  JOSEFA ORTIZ DE DOMINGUEZ  Sin ENTRE_CALLE_2
16399                  CAMINANTE  Sin ENTRE_CALLE_2
16400           AV. LOPEZ MATEOS  Sin ENTRE_CALLE_2
16401               MEXICO LINDO  Sin ENTRE_CALLE_2
16402          VALLE DE SANTIAGO  Sin ENTRE_CALLE_2
16403          AV. PENON TEXCOCO  Sin ENTRE_CALLE_2
16404              CIELITO LINDO   AV. CHIMALHUACAN
16405             AV. PERIFERICO  Sin ENTRE_CALLE_2
16406                  ESCONDIDA  Sin ENTRE_CALLE_2
16407          AV. CARMELO PEREZ  Sin ENTRE_CALLE_2
16408            VALLE DE MEKONG  Sin ENTRE_CALLE_2
16409               INDIO TRISTE  Sin ENTRE_CALLE_2
16410           AV. CHIMALHUACAN  Sin ENTRE_CALLE_2
16411           AV. CHIMALHUACAN  Sin ENTRE_CALLE_2
16412              CIELITO LINDO  Sin ENTRE_CALLE_2
16413           AV. CHIMALHUACAN  Sin ENTRE_CALLE_2
16414          AV. CARMELO PEREZ  Sin ENTRE_CALLE_2
16415      AV. BORDO DE XOCHIACA  Sin ENTRE_CALLE_2
16416          GLORIETA DE COLON  Sin ENTRE_CALLE_2
16417                  AVENIDA 8          AVENIDA 6
16418          Sin ENTRE_CALLE_1  Sin ENTRE_CALLE_2
16419        HACIENDA DE JAJALPA  Sin ENTRE_CALLE_2
16420          Sin ENTRE_CALLE_1  Sin ENTRE_CALLE_2
16421                ESCALERILAS  Sin ENTRE_CALLE_2
16422                  FLAMINGOS  Sin ENTRE_CALLE_2
16423      GLORIETA DE PETROLEOS      AV. PANTITLAN
16424                    CALLE 7  Sin ENTRE_CALLE_2

                           COLONIA SECTOR CUADRANTE TURNO                   X  \
0      VALLE DE ARAGON 1ra SECCION    1.0      C013     1          -99.051253
1                BENITO JUAREZ III   11.0      C112     1          -98.991762
2                 BENITO JUAREZ II   10.0      C108     2          -99.006214
3                        AGUA AZUL    9.0      C095     1          -99.033186
4                BENITO JUAREZ III   11.0      C116     2          -98.996179
5                  BENITO JUAREZ I    9.0      C092     1          -99.021046
6      VALLE DE ARAGON 1ra SECCION    1.0      C013     1           -99.05085
7                    PORFIRIO DIAZ    8.0      C081     1          -99.032195
8                 BENITO JUAREZ II    9.0      C094     2          -99.011126
9      VALLE DE ARAGON 1ra SECCION    1.0      C013     3          -99.053831
10                        LA PERLA   12.0      C125     3  -98.99591099999999
11               BENITO JUAREZ III   12.0      C121     2  -98.99967600000001
12                 LAZARO CARDENAS    2.0      C022     3          -99.030163
13                PRADOS DE ARAGON    2.0      C026     2  -99.04509499999999
14                     LAS FUENTES    8.0      C081     2          -99.037534
15                         REFORMA   14.0      C146     1           -98.97161
16                       ESPERANZA   11.0      C118     2          -98.986571
17                 VICENTE VILLADA   13.0      C131     3          -99.010075
18     VALLE DE ARAGON 1ra SECCION    1.0      C011     3  -99.06176500000001
19                      MARAVILLAS    6.0      C062     2  -99.04865699999999
20                JUAREZ PANTITLAN    7.0      C075     1            -99.0555
21                BENITO JUAREZ II    9.0      C094     2          -99.010828
22                       ESPERANZA   11.0      C118     1          -98.986655
23                         REFORMA   15.0      C153     2  -98.97235400000001
24               BENITO JUAREZ III   11.0      C111     1  -98.99754300000001
25                     LAS AGUILAS   13.0      C135     1  -99.00115500000001
26                       AGUA AZUL    9.0      C091     2          -99.024387
27                 VICENTE VILLADA   13.0      C134     2          -99.013405
28       METROPOLITANA 2da SECCION    8.0      C086     2  -99.02809599999999
29                       AGUA AZUL    6.0      C064     2          -99.034112
...                            ...    ...       ...   ...                 ...
16395                  ATLACOMULCO    8.0      C084     2          -99.039503
16396            BENITO JUAREZ III   10.0      C108     2          -99.012484
16397            BENITO JUAREZ III   12.0      C121     1  -98.99962099999999
16398                  LOMA BONITA   15.0      C154     1          -98.992363
16399            BENITO JUAREZ III   11.0      C117     2          -98.991788
16400    METROPOLITANA 2da SECCION    8.0      C086     2          -99.034373
16401            BENITO JUAREZ III   11.0      C113     1  -99.00112800000001
16402  VALLE DE ARAGON 1ra SECCION    1.0      C012     3          -99.054025
16403                  CIUDAD LAGO    3.0      C036     2          -99.048649
16404            BENITO JUAREZ III   11.0      C117     3  -98.99313000000001
16405  VALLE DE ARAGON 2da SECCION    2.0      C021     1          -99.046428
16406   AMPLIACION VICENTE VILLADA    9.0      C094     1           -99.00873
16407            BENITO JUAREZ III   11.0      C117     3  -98.99783000000001
16408  VALLE DE ARAGON 1ra SECCION    1.0      C013     1  -99.04985699999999
16409    METROPOLITANA 2da SECCION    8.0      C086     1          -99.032881
16410             ESTADO DE MEXICO    5.0      C054     3  -99.05550600000001
16411             ESTADO DE MEXICO    5.0      C055     2          -99.048866
16412              BENITO JUAREZ I   10.0      C107     3          -99.016976
16413                    AGUA AZUL    5.0      C056     2  -99.03111700000001
16414            BENITO JUAREZ III   11.0      C117     3          -98.997715
16415             ESTADO DE MEXICO    5.0      C052     2          -99.037938
16416                    EVOLUCION    9.0      C096     2           -99.02639
16417       AMPLIACION LAS AGUILAS   13.0      C133     3          -98.996898
16418             PLAZAS DE ARAGON    2.0      C022     2           -99.03708
16419                    IMPULSORA    2.0      C024     1          -99.042063
16420                     EL BARCO    6.0      C061     1          -99.053343
16421    METROPOLITANA 2da SECCION    8.0      C086     3           -99.03188
16422    METROPOLITANA 2da SECCION    8.0      C082     3          -99.030366
16423                    EVOLUCION    9.0      C096     3          -99.023886
16424                     EL BARCO    6.0      C061     1          -99.053895

                        Y
0               19.488201
1               19.409349
2               19.404228
3      19.405685000000002
4               19.402763
5                 19.4053
6                19.48838
7               19.401072
8      19.400301000000002
9               19.492558
10     19.391232000000002
11              19.398242
12     19.484161999999998
13     19.469970999999997
14              19.401316
15              19.373987
16              19.393911
17              19.390972
18     19.490251999999998
19     19.413942000000002
20              19.403751
21              19.402488
22              19.393681
23              19.372713
24              19.414801
25              19.378338
26              19.408049
27              19.385161
28              19.394907
29              19.412607
...                   ...
16395            19.39499
16396  19.408510999999997
16397           19.398285
16398           19.368292
16399  19.394985000000002
16400           19.390035
16401           19.406603
16402           19.494142
16403           19.453246
16404           19.395638
16405           19.490579
16406  19.398073999999998
16407           19.397894
16408           19.491996
16409           19.392304
16410  19.422254000000002
16411  19.420476999999998
16412            19.40934
16413           19.413911
16414           19.397971
16415           19.425873
16416           19.403866
16417           19.378867
16418            19.48085
16419           19.479762
16420            19.41834
16421           19.394309
16422           19.396218
16423           19.399089
16424           19.418474

[16425 rows x 16 columns]

In [78]:
df.to_csv('InfoNeza/Delitos/Delitos_cleaned.csv')